*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background: #000;
    padding: 10px 0;
}
.nav-link{
    color: #fff;
    font-size: 14px; 
    font-family: 'Open Sans', sans-serif;
    margin: 0 13px; 
}
.nav-link:hover{
    color: #ff8b38;
    transition: ease-in-out .2s;
}
.banner-text{
    background: url(../img/bg.png);
    height: 713px;
    width: 100%; 
    background-repeat: no-repeat;
    background-position: top;
} 
.banner-text .col-md-7{
    margin-top: 120px;
    padding-right: 130px;
}
.banner-text .col-md-7 h1{
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    font-size: 36px;
    margin: 2rem 0;
}
.banner-text .col-md-7 p{
    font-family: 'Raleway', sans-serif; 
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding-right: 20px; 
    margin: 2rem 0;
}
.line{
    height: 2px;
    width: 66px;
    background: #fff;
}
.btn-1{
    background: transparent;
    border: 2px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.btn-1:focus{
    outline: none;
}
.btn-1:hover{
    background: #ff8b38;
    transition: all .3s;
}
.banner-text .col-md-4{
    margin-top: 125px;
}
.card-header h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
}
.card-header span{
    text-transform: uppercase;
    color: #ff8b38;
}
.card-footer{
    padding: 1rem 0;
    background: #ff8b38; 
    cursor: pointer;
}
.submit{
    color: #fff; 
    background: #ff8b38;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
}
.submit:focus{
    outline: none;
}
.submit,
.card{
    border: none;
}
.social{
    margin-top: -3px;
    box-shadow: 2px 2px 16px #707070;
}
.social .col-md-5 h3{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: 333333;
    margin-top: 10px;
}
.social .col-md-5 p{
    padding-right: 60px;
    font-size: 14px;
    color: #86878b;
}
.social .col-md-7{
    text-align: right;
}
.social ul{
    list-style: none;  
}
.social ul li{
    display: inline-block;
    margin-top: 30px;
    padding: 0 18px;
}
.social ul li i:hover{ 
    color: #ff8b38;
    transition: ease-in-out .3s; 
}
.social ul li i{
    font-size: 48px;
    color: #cccccc; 
    cursor: pointer;
}
.form-floating input{
    border-radius: 0px;
    border: none; 
    border-bottom: 1px solid #d6d6d6; 
    font-family: 'Open Sans', sans-serif;
    padding: 0 5px;
}
.form-floating input:active, 
.form-floating input:focus{
    border: 0 !important;
}

/* feature -1 css code start from here */ 

.tab-section{
    background: #f5f5f5; 
    margin-top: 3px;
}
.feature-1{
    padding: 147px 0;  
}
.feature-1 ul{
    list-style: none;
} 
.feature-1 ul li, 
.feature-1 ul li, 
.feature-1 ul li{
    width: 105px;
    height: 110px;
    background: #333333; 
    margin-bottom: 2px;
    text-align: center;
    padding-top: 40px;
    cursor: pointer; 
    color: #fff; 
}
.feature-1 ul li a, 
.feature-1 ul li a, 
.feature-1 ul li a{ 
    font-size: 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    
}
.tab-1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}
.tab-3{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.content-1, .content-2, .content-3{
    transition: ease-in .5s;
}
.content-1 h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 50px;
}
.content-1 p:nth-child(1){
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
}
.content-2 h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 50px;
}
.content-2 p:nth-child(1){
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
}
.content-3 h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 50px;
}
.content-3 p:nth-child(1){
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
}
.btn-2{
    background: #ff8b38;
    color: #fff;
    border: 2px solid #ff8b38;
    border-radius: 5px;
    padding: 12px 30px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}
.btn-2:hover{
    background: transparent;
    color: #333333;
    transition: all .3s;
}
.feature-1 .col-md-4{
    text-align: center;
    padding-top: 20px;
}
.active-color{
    background: #ff8b38 !important;  
    transition: all .5s;
}
/* feature -1 css code end from here */ 






/* feature -2 css code start from here */

.feature-2{
    width: 100%;
    padding: 100px 0;
}
.image-sec img{
    margin-top: 50px;
}
.line-1{
    height: 2px;
    width: 66px;
    background: #ff8b38;
    margin: 25px 0; 
}
.feature-2 .desc h3{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
}
.feature-2 .desc p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
    margin-bottom: 25px; 
}
.feature-2 .desc h6{
    font-size: 14px;
    font-weight: 600; 
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    margin-bottom: 14px;
}
.feature-2 .desc .top, 
.feature-2 .desc .bottom{
    display: flex;
}
.feature-2 .desc .top .icon i, 
.feature-2 .desc .bottom .icon i{
    cursor: pointer;
}
.feature-2 .desc .top .icon i:hover, 
.feature-2 .desc .bottom .icon i:hover{
    background: #ff8b38;
    color: #fff;
    transition: ease-in-out .3s;
}
.feature-2 .desc .top .icon i, 
.feature-2 .desc .bottom .icon i{
    color: #ff8b38;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 30px;
}
/* feature -2 css code end from here */









/* feature -3 css code start from here */
.feature-3{
    width: 100%;
    padding: 100px 0;
    background: #f5f5f5;
}
.image-sec img{
    margin-top: -10px;
}
.line-1{
    height: 2px;
    width: 66px;
    background: #ff8b38;
    margin: 30px 0; 
}
.feature-3 .desc{
    margin-left: 37px;
    margin-top: 35px;
}
.feature-3 .desc h3{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
}
.feature-3 .desc p{
    font-size: 14px;
    font-weight: 400; 
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
    margin-bottom: 25px; 
}


/* feature -3 css code end from here */


/* Awesome section css code start from here */


.line-2{
    height: 2px;
    width: 66px;
    background: #ff8b38;
    margin: 30px auto;
}
.awesome{
    width: 100%;
    padding: 100px 0 10px;
} 
.awesome .top{
    text-align: center;
}
.awesome .top h1{
    font-size: 36px;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-weight: 400; 
}
.awesome .top p{
    font-size: 14px;
    font-weight: 400; 
    font-family: 'Open Sans', sans-serif;
    color: #86878b;  
}
.awesome .bottom{
    text-align: center;
    padding: 80px 0;
}
.awesome .bottom .icon{
    padding-bottom: 30px; 
}
.awesome .bottom .icon i{  
    font-size: 32px;
    color: #ff8b38;
    padding: 10px 17px;
    border-radius: 50%;
    border: 2px solid #ff8b38; 
    cursor: pointer;
}
.awesome .bottom .icon i:hover{
    background: #ff8b38;
    color: #fff;
    transition: ease-in-out .3s;
}
.awesome .bottom .icon .fa-keyboard-o{
    padding: 10px !important;
}
.awesome .bottom .desc h5{
    margin-bottom: 30px; 
    font-size: 20px;
    font-weight: 700;   
    font-family: 'Open Sans', sans-serif;
    color: #333333;   
}
.awesome .bottom .desc p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
    font-weight: 400;
}

/* Awesome section css code end from here */



/* pricing section css code start from here */

.pricing-section{
    width: 100%;
    text-align: center;
    background: #f5f5f5;
    padding: 80px 0;
}
.pricing-section .row{
    align-items: flex-end;
}
.pricing-section .row .col-md-4:hover{
     transform: translateY(-15px);
     transition: all .3s;
}
.pricing-section h1{
    color: #212121;
    font-size: 36px;
    font-family: 'Raleway', sans-serif; 
}
.pricing-section p{
    color: #86878b;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif; 
    margin-bottom: 80px;
}
.pricing-section .line-3{
    height: 2px;
    width: 66px;
    background: #ff8b38;
    margin: 30px auto;
}
.price-1{
    background: #fff; 
    box-shadow: 2px 4px 16px #707070;
    width: 90%;
}
.price-1 .header{
    background: #333333; 
}
.price-1 .header .title{ 
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}
.price-1 .header .title h2{
    color: #fff; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0px !important;
}
.price-1 .header .price{
    padding: 5px 0 18px; 
    border-bottom: 6px solid #ff8b38;
}
.price-1 .header .price span{
    font-family: 'Merriweather', serif;
    font-size: 94px;
    font-weight: 700;
    color: #fff;
}

.price-1 .header .price h3{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif; 
}
.price-1 .header .price h6{
    margin-bottom: 0px !important;
    color: #999999;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    font-weight: 600;
}
.price-1 .footer{
    text-align: center;
}
.price-1 .footer ul{ 
    list-style: none;
}
.price-1 .footer ul li{
    padding: 10px 0;
    margin-left: -32px;
    border-bottom: 1px solid #f5f5f5;
    text-transform: uppercase;
    color: #86878b;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

/* Price-2 CSS Code */

.price-2{
    background: #fff; 
    box-shadow: 2px 4px 16px #707070;
    width: 90%;
}
.price-2 .header{
    background: #333333; 
     
}
.price-2 .header .title{ 
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}
.price-2 .header .title h2{
    color: #fff; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0px !important;
}
.price-2 .header .price{
    padding: 5px 0 18px;  
}
.price-2 .header .price span{
    font-family: 'Merriweather', serif;
    font-size: 94px;
    font-weight: 700;
    color: #fff;
}
.price-2 .special{
    background: #ff8b38;
    padding: 12px 0; 
}
.price-2 .special h4{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px !important;
}
.price-2 .header .price h3{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif; 
}
.price-2 .header .price h6{
    margin-bottom: 0px !important;
    color: #999999;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    font-weight: 600;
}
.price-2 .footer{
    text-align: center;
}
.price-2 .footer ul{ 
    list-style: none;
}
.price-2 .footer ul li{
    padding: 10px 0;
    margin-left: -32px;
    border-bottom: 1px solid #f5f5f5;
    text-transform: uppercase;
    color: #86878b;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}




/* pricing section css code end from here */

/* testimonial section css code start from here */

.testimonial-section{
    width: 100%; 
    padding: 80px 0;
}
.testimonial-section .col-md-12{ 
    text-align: center;
}
.testimonial-section .col-md-12 h1{
    font-size: 36px;
    color: #212121;
    font-family: 'Raleway', sans-serif; 
}
.testimonial-section .col-md-12 p{
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.testimonial-section .quotos .col-md-4{
    padding: 0 10px;
} 
.testimonial-section .quotos .col-md-4 .top{
    margin: 0 40px;
    padding: 10px 20px;  
    background: #f5f5f5;
    position: relative; 
}
.testimonial-section .quotos .col-md-4 .top p{
    font-size: 14px;
    font-weight: 400;
    color: #86878b; 
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.testimonial-section .quotos .col-md-4 .shape{
    background: #f5f5f5;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -17px;
    margin-left: 55px; 
    transform: rotate(45deg); 
}
.testimonial-section .quotos .col-md-4 .bottom{
    margin-top: 27px;  
    padding: 0 40px;
}
.testimonial-section .quotos .col-md-4 .bottom .col-md-9{
    padding-left: 25px;
    margin-top: 20px;
}
.testimonial-section .quotos .col-md-4 .bottom .col-md-9 h3{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

.testimonial-section .quotos .col-md-4 .bottom .col-md-9 h6{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
}

/* testimonial section css code end from here */





/* stylish section css code start from here */

.stylish-section{
    width: 100%;  
    margin: 70px 0 100px;
}
.stylish-section .background{
    background: url(../img/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 320px; 
} 
.line-4{
    height: 2px;
    width: 66px;
    background: #fff;
    margin: 30px auto; 
}
.stylish-section .background .content{
    text-align: center; 
} 
.stylish-section .background .content h1{
    color: #fff;
    margin-top: 40px;
    font-size: 36px; 
    font-family: 'Raleway', sans-serif; 
}
.stylish-section .background .content p{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.btn-4{
    background: transparent;
    border: 2px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    margin-top: 30px;
}
.btn-4:focus{
    outline: none;
}
.btn-4:hover{
    background: #ff8b38;
    transition: all .3s; 
}
/* stylish section css code end from here */


/* contact section css code start from here */

.contact-section{
    width: 100%;
}
.contact-section .cont{
    text-align: center;
    margin-bottom: 80px;
}
.contact-section .cont h1{
    font-size: 36px;
    color: 212121;  
    font-family: 'Raleway', sans-serif; 
    text-transform: uppercase;
}
.contact-section .cont p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
}
.contact-section .inputs{
    padding: 0 90px 70px;
}
.contact-section .inputs input{
    padding: 8px 5px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}
.contact-section .inputs input:focus{
    outline: none;  
}
.contact-section .inputs .text{
    width: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.contact-section .inputs .text:focus{
    outline: none;
}


.contact-section .inputs .btn-2{
    text-align: center;
    margin: auto;
    width: 150px; 
    margin-top: 60px;
    margin-bottom: 60px;
}
/* contact section css code end from here */


/* footer section css code start from here */


footer{
    width: 100%;
    text-align: center;
    background: #000;
}

footer ul{
    list-style: none;
}
footer ul li{
    display: inline-block;
    padding: 0 15px;  
    margin-top: 15px;
}
footer ul li .fa{
    font-size: 20px;
    color: #cccccc;
    margin-top: 10px; 
}
footer ul li .fa:hover{
    color: #ff8b38;
    cursor: pointer;
    transition: ease-in-out .3s;
}
footer p{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
/* footer section css code end from here */













/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Merriweather', serif; 
*/
